* {
  appearance: none;
  backface-visibility: none;
  box-sizing: border-box;
  border: none;
  list-style-type: none;
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "jaf-domus", sans-serif;
}
