.nav {
  border-left: 0.4rem solid #2da3b7;
  height: 3.25rem;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.nav + div {
  padding-top: 3.25rem;
  height: 100vh;
}

.nav h1 {
  color: white;
  font-size: 1.25rem;
  line-height: 3.25rem;
  font-weight: normal;
  margin: 0;
  padding-left: 0.6rem;
}
