.nav {
  border-left: 0.4rem solid #2da3b7;
  height: 3.25rem;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.nav + * {
  margin-top: 3.25rem;
  height: calc(100vh - 3.25rem);
}

.nav h1 {
  transition: color 300ms ease;
  color: white;
  font-size: 1.25rem;
  line-height: 3.25rem;
  font-weight: normal;
  margin: 0;
  margin-left: 1.1rem;
  float: left;
}

.nav h1:hover {
  color: #666;
}
